<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Travel App</title>
    <!-- Bootstrap -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- body code goes here -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"
          ><img
            src="/img/SmallLogo.png"
            alt="Logo"
            width="149"
            height="149"
            class="img-fluid rounded"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Trips</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Hotels</a></li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-xl-12">
          <div class="container mt-5 mb-5" style="width: 400px">
            <form>
              <div class="flex">
                <label for="nextFlight">Your next journey goes to: </label>
                <input
                  type="text"
                  for="to"
                  name="to"
                  id="to"
                  class="form-control"
                  placeholder="To"
                />
                <label>Departure:</label>
                <input type="date" id="start-date" class="form-control" />
                <label>Arrival:</label>
                <input type="date" id="end-date" class="form-control" />
                <div class="submit">
                  <input
                    type="submit"
                    name="save"
                    id="travel-summary"
                    value="Save Trip"
                    class="btn btn-primary"
                  />
                  <input
                    type="submit"
                    name="remove"
                    id="remove-trip"
                    value="Remove Trip"
                    class="btn btn-primary"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2020 Copyright:
          <a class="text-dark" href="http://github.com/b1d1m"
            >Mohammad Alduwairij</a
          >
        </div>
        <!-- Copyright -->
      </footer>
    </div>
  </body>
</html>
